body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

/* top image */
.top_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/random/1920x1080");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #000000;
}

.top_text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.typewrite{
  text-align: center;
  color: #FFFFFF;
}

.abs-center-x{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* navbar */
.navbar{
  background-color: #000000;   
}

/* main content */
.content{
  margin-left: 200px;
  margin-right: 200px;
  padding: 40px;
}

/* profile image */
.avatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:10%;
  border-radius: 100%;
  margin-top: 70px;
  margin-bottom: 30px;
}

/* button */
.clickme{
  background-color: #000000;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}

button[type=button]:hover{
  opacity: 0.7;
}

/* divider */
hr{
  margin-left: 240px;
  margin-right: 240px; 
}

/* heading */
.heading{
  text-align: center;
}

/* content text */
.text{
  font-size: 20px;
}

.text_margin{
  margin-top: 40px;
}

/* responsive css */

@media screen and (max-width: 780px){

  /* main content */
  .content{
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
  }
    
  /* profile */  
  .avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    border-radius: 100%;
    margin-top: 70px;
    margin-bottom: 30px;
  }
   
  /* divider */
  hr{
    margin-left: 40px;
    margin-right: 40px; 
  }
}

/* skill bar */
.skill_background{
  width: 100%;
  background-color: #0000001A;
  border-radius: 3px; 
}

.skills_bar{
  padding: 5px;
  border-radius: 3px; 
}
  
.skill1{
  width: 90%; 
  background-color: #7DCEA0;
}
  
.skill2{
  width: 70%; 
  background-color: #EC7063;
  }
  
.skill3{
  width: 50%; 
  background-color: #2980B9;
}

.skill4{
  width: 60%; 
  background-color: #9B59B6;
}

.skill5{
  width: 70%; 
  background-color: #F1C40F ;
 }

/* footer */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 60px;
}
  
.social_icons{
  height: 0px;
  width: 50px;
  border-radius: 50px;
  text-align: left;
}
  
.fa{
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  margin: 5px 2px;
}
  
.fa:hover{
  opacity: 0.7;
}
  
.fa-linkedin-square{
  color: black;
}
  
.fa-facebook-official{
  color: black;
}
  
.fa-instagram{
  color: black;
}
  
.fa-telegram{
  color: black;
}
  
.fa-github{
  color: black;
}
  
.fa-reddit{
  color: black;
}
  
.fa-snapchat-ghost{
  color: black;
}
  
/* end text */
.end_text{
  font-size: 14px;
  text-align: center;
  margin-bottom: 40px;
}